.rendering_button{
    /* 灰蓝色的背景 */
    background-color: #85929a;
    border: none;
    color: white;
    width: 20%;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
   
  }
  
  /* 悬浮特效 */
  .rendering_button:hover {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: azure;
  }
  .button-container {
    display: flex;
    justify-content: center;
 }