.rendering_button{
    /* 灰蓝色的背景 */
    background-color: #7898BF;
    border: none;
    color: white;
    width: 15%;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
    box-shadow: 0 9px #999;
  }
  
  /* 悬浮特效 */
  .rendering_button:hover {
    font-size: 18px;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: center;
 }